@import "./Global/main"


.collapse
    display: flex
    flex-direction: column
    font-size: $s-font-size

    .titleBox
        display: flex
        align-items: center
        justify-content: space-between
        background-color: $main-color
        color: white
        border-radius: 10px
        padding: 10px

    .textBox
        background-color: #F6F6F6
        color: $main-color
        padding:10px
        overflow: hidden
        //transition: max-height 15s ease-in-out

        p,li
            font-size: $sm-font-size
        &.open 
            max-height: 1

        &.closed 
            max-height: 0

        


    button
        font-size: 32px
        background-color: #ffffff00
        color: #F6F6F6
        border: none
        transition-property: transform
        transition-duration: 400ms
        &.open
            @include open-animation
        &.closed
            @include close-animation
    p
        font-size: $s-font-size