@import "./Global/main"


#banner
    background-image:  url($imageBannerUrl)
    background-size: cover
    background-repeat:no-repeat
    height: 220px
    display: flex
    align-items: center
    justify-content: center
    color: white
    border-radius: 15px
    filter: grayscale(30%)
    margin-bottom: 50px

    h1
        filter: contrast(200%)
        font-size: $xl-font-size


    
     
