@import "./Global/main"

.card
    display: flex
    align-items: flex-end
    justify-content: center
    cursor: pointer
    width:340px
    height: 340px
    border-radius: 15px
    margin: 0 2.5% 2.5% 2.5% 
    background-size: cover
    text-decoration: none

    h2
        font-size: $s-font-size
        color: white



    @media (max-width: 1000px)
        margin: 0 1.5% 1.5% 1.5%
        

    @media (max-width: 750px)
        width:90%
        margin-bottom: 4%