$imageUrl : "../assets/Image_1-banner.png"

#Home
    padding: 0 100px

#banner
    background-image:  url($imageUrl)
    background-size: 1240px 300px
    height: 220px
    display: flex
    align-items: center
    justify-content: center
    font-size: 48px
    color: #FFFFFF
    border-radius: 15px
    filter: grayscale(30%)
    
    h1
        filter: contrast(200%)
        font-size:48px


